<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Goal Tracker</title>
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/larger.css" />
    <!-- Link to your CSS file -->
  </head>
  <body>
    <header class="header-h1">
      <h1>Goal Tracker</h1>
      <p class="log-in">
        <span><a href="login.html">Log In</a></span>
      </p>
      <nav>
        <ul>
          <li><a href="/wdd330-proj/">Home</a></li>
          <li><a href="/wdd330-proj/view/dashboard.html">Dashboard</a></li>
          <li><a href="/wdd330-proj/view/create_goal.html">Create Goal</a></li>
          <li>
            <a href="/wdd330-proj/view/progress_track.html"
              >Progress Tracking</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="/" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="clientEmail" required />
        <label for="password">Password:</label>
        <span
          >Password must have at least 8 characters and has at least 1 uppercase
          character, 1 number and 1 special character</span
        >
        <input
          type="password"
          id="password"
          name="clientPassword"
          required
          pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
        />
        <button type="submit">Login</button>
        <input type="hidden" name="action" value="Login" />
      </form>
      <p>
        Don't have an account?
        <a href="register.html" class="registration-link">Register here</a>
      </p>
    </main>

    <footer>
      <p>&copy; 2023 Goal Tracker. All rights reserved.</p>
    </footer>
  </body>
</html>
