<!DOCTYPE html>
<html>
  <head>
    <title>Progress Tracking</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/larger.css" />
  </head>
  <body>
    <header class="header-h1">
      <h1>Goal Tracker</h1>
      <p class="log-in">
        <span><a href="/view/login.html">Log In</a></span>
      </p>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/wdd330-proj/view/dashboard.html">Dashboard</a></li>
          <li><a href="/wdd330-proj/view/create_goal.html">Create Goal</a></li>
          <li>
            <a href="/wdd330-proj/view/progress_track.html"
              >Progress Tracking</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Progress Tracking</h1>

      <h2>In Progress Goals</h2>
      <ul id="inProgressList"></ul>

      <h2>Completed Goals</h2>
      <ul id="completedList"></ul>

      <script
        src="/wdd330-proj/scripts/progressTrack.js"
        type="module"
      ></script>
      <!-- <script src="/scripts/createGoal.js" type="module"></script> -->
    </main>
    <footer>
      <p>&copy; 2023 Goal Tracker. All rights reserved.</p>
    </footer>
  </body>
</html>
